# MariaDB
MARIADB_ROOT_PASSWORD=trialmatch_root_password
MARIADB_HOST=127.0.0.1
MARIADB_PORT=3307
MARIADB_USER=trialmatch_user
MARIADB_PASSWORD=trialmatch_password
MARIADB_DB=trialmatch_db

# MongoDB
MONGO_INITDB_ROOT_USERNAME=trialmatch_root
MONGO_INITDB_ROOT_PASSWORD=trialmatch_root_password
MONGO_PORT=27017
MONGO_DB=trialmatch_nosql
MONGO_URI=mongodb://trialmatch_mongo_user:trialmatch_mongo_password@localhost:27017/trialmatch_nosql?authSource=trialmatch_nosql

# Backend
APP_NAME=TrialMatch Backend
FRONTEND_ORIGIN=http://localhost:5173
JWT_SECRET_KEY=change-this-to-a-long-random-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
